*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9DA6B8;
    font-family: 'Montagu Slab';
    font-weight: 400;
}

.site{
    margin: auto;
    width: 1400px;
    height: auto;
    position: relative;
    align-items: center;
    background-color: #EDC19D;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.navbar_links, .logo, .info {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details{
    margin: auto;
    margin-top: 30px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1015px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.details_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details_block_round{
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EDC19D;
}
